# python binary files
*.pyc

# IDE files
.idea

# Virtual enviroment
ENV

# database
*.sqlite3

# media files
media
__pycache__/
accounts/__pycache__/
accounts/migrations/__pycache__/
first_project/__pycache__/
publications/__pycache__/
publications/migrations/__pycache__/
