{% extends 'base.html' %}

{% load humanize %}
{% load custom_publication %}


{% block content %}
    <form action="{% url 'publications' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>>
    <p>Publications:</p>
    <hr>
    <hr>
    {% for publication in publications %}
        <a href="{% url 'single_publication' publication_id=publication.id %}">{{ publication.title }}</a><br>
        {{ publication.body | safe }}<br>
        {{ '<h5>HELLO</h5>' | safe }}<br>
        {#        {{ publication.image.url }}<br>#}
        {{ publication.author.first_name }}<br>
        {{ publication.added | naturaltime}}<br>
        {{ publication.added | custom_datatime }}<br>
        <hr>
        <hr>
    {% endfor %}

{#VARIANT 1#}
    <div class="pagination">
        <span class="step-links">
            {% if publications.has_previous %}
                <a href="page={{ publications.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
                Page {{ publications.number }} of {{ publications.paginator.num_pages }}.
            </span>

            {% if publications.has_next %}
                <a href="?page={{ publications.next_page_number }}">-></a>
            {% endif %}
        </span>
    </div>


{#    VARIANT 2#}
{#    <div class="pagination">#}
{#        <span class="step-links">#}
{#            {% if publications.has_previous %}#}
{#                <a href="?page={{ publications.previous_page_number }}">←</a>#}
{#            {% endif %}#}
{##}
{#            {% for page_number in publications.paginator.page_range %}#}
{#                {% if page_number == publications.number %}#}
{#                    <span class="current"><b>{{ page_number }}</b></span>#}
{#                {% else %}#}
{#                    <a href="?page={{ page_number }}"> {{ page_number }}</a>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{##}
{#            {% if publications.has_next %}#}
{#                <a href="?page={{ publications.next_page_number }}">→</a>#}
{#            {% endif %}#}
{#        </span>#}
{#    </div>#}

        {#VARIANT 3#}
{#    <div class="pagination">#}
{#        <a class="step-links">#}
{#            {% if publications.has_previous %}#}
{#                <li>#}
{#                    <a href="?page={{ publications.previous_page_number }}">←</a>#}
{#                </li>#}
{#            {% endif %}#}
{#            {% for page_number in num_pages %}#}
{#                {% if page_number != "..." %}#}
{#                    <li>#}
{#                        <a href="?page={{ num_pages }}">... </a>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li>#}
{#                        <a>{{ num_pages }}</a>#}
{#                    </li>#}
{#                {% endif %}>#}
{#            {% endfor %}#}
{#            {% if publications.has_previous %}#}
{#                <li>#}
{#                    <a href="?page={{ publications.next_page_number }}">-></a>#}
{#                </li>#}
{#            {% endif %}#}
{#        </a>#}
{#    </div>#}

{% endblock content %}
